# ignore all “.env” files in any sub-directory
*.env

# (optional but recommended)
# Node / CRA
frontend/node_modules/
frontend/build/

# Python
backend/.venv/
backend/__pycache__/
backend/*.py[cod]
node_modules
